@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.contact__container {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
    overflow: hidden;
    box-shadow: .6rem .6rem 1rem rgba($color: #000000, $alpha: .4);
    transition: all .3s;
    animation: appear .8s ease-out;
    
    &-content {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .contact__background-video {
        position: absolute;
        width: 80%;
        height: 100%;
        top: 0;
        right: 0rem;
        overflow: hidden;

        .background-pic {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            max-width: 200%;
            filter: brightness(1);
        }
    }
}

